/.cloud
/.storage
/.vscode
/custom_components
/deps
/glances
/node-red
/themes
/tts
.google.token
.ip_authenticated.yaml
gcloud.json
google_calendars.yaml
*.db
*.log
secrets.yaml
home-assistant_v2.db-shm
home-assistant_v2.db-wal