/.cloud
/.storage
/.vscode
/blueprints
/custom_components
/deps
/glances
/node-red
/themes
/tts
/www
.google.token
.ip_authenticated.yaml
gcloud.json
google_calendars.yaml
*.db
*.log
secrets.yaml
home-assisant_v2.db-shm
home-assisant_v2.db*